<div class="modal hide fade" id="new-student-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a new student</h3>
    </div>
    <div class="modal-body">
        <form id="new-student-form" class="well form-horizontal"
            action="{{ url_for('list_all_students') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.name.label }}</div>
                    <div class="controls">
                        {{ form.name|safe }}
                        {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.email.label }}</div>
                    <div class="controls">
                        {{ form.email|safe }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.graduation_year.label }}</div>
                    <div class="controls">
                        {{ form.graduation_year|safe }}
                        {% if form.graduation_year.errors %}
                        <ul class="errors">
                            {% for error in form.graduation_year.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.preferences.label }}</div>
                    <div class="controls">
                        {{ form.preferences(class_="checkbox list-checkbox")|safe }}
                        {% if form.preferences.errors %}
                        <ul class="errors">
                            {% for error in form.preferences.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add student"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

