<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Skyline NHS Tutoring Signup</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="http://skylinenhs.org">Back to skylinenhs.org</a>
                    </li>
                    <li>
                        <a href="/settings">Change settings</a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
